@font-face {
  font-family: ProximaNova-Regular;
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Thin;
  src: url(../fonts/ProximaNova-Thin.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url(../fonts/ProximaNova-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Black;
  src: url(../fonts/ProximaNova-Black.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Extrabold;
  src: url(../fonts/ProximaNova-Extrabold.otf);
  font-weight: normal;
  font-style: normal;
}






//  font-family: 'proxima_nova_altlight';
//  font-family: 'proxima_novabold';
//  font-family: 'proxima_novaregular';
